.card {
  /* box-shadow: 0 4px 8px 0 rgba(107, 107, 107, 0.2); */
  transition: 0.6s;
  width: 300px;
  height: 500px;
  background-color: white;
  margin: 25px auto;
  border-radius: 10px;
  border-color: rgba(107, 107, 107, 0.2);
  transform-style: preserve-3d;
  display: flex;
  justify-content: space-between;
  transition: 0.4s;
}

.card:hover {
  transform: scale(1.03) translateZ(0);
  box-shadow: 0 4px 12px 0 rgba(0,0,0,0.2);
}

.card .cover {
  flex: 1;
  overflow: hidden;
  padding: 24px;
}

.card .cover img {
  height: 100%;
  width: 100%;
  border-radius: 8px;
  object-fit: contain;
}

.card .body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px;
}

.card .body h3 {
  margin: 0;
}

.card .body button {
  margin-top: 16px;
  /* color: #007bff;
  border-color: #4898f1;
  background-color: transparent; */
}

.card .body .title {
  font-size: 20px!important;
  cursor: pointer;
}

.card .body .price {
  font-size: 20px;
  font-weight: 500;
}