
.Header {
    margin-top: 50px;
}
.title {
    margin-right: 50px;
}
.searchBar {
    margin-top: 25px;
    float: left;
    width: 500px;
}
.loginButton, .cartButton {
    margin-top: 25px;
    margin-left: 50px;
}

.productGrid {
    margin: auto;
}

.productCard {
    margin: 20px;
    max-width: 230px;
    max-height: 400px;
    overflow-y: auto;
}

.productImage {
    margin: auto;
    max-width: 150px;
    max-height: 150px;
}

.loginForm {
    margin: auto;
    max-width: 500px;
}


.title {
    float: left;
    margin-left: 200px;
    font-size: 50px;
    font-family: 'Oswald', sans-serif;
    color: black;
}

.filter {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    margin: 1rem;
}

.filter div {
    flex: 1;
}

.card-image-details {
    margin: auto;
    width: 50%;
}

.productdetails {
    margin-left: 150px;
    margin-right: 100px;
}

.carousel {
    display: inline-block;
    max-width: 500px;
}