.App {
    width: 1000px;
    margin: 48px auto;
}

.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;
}

.header > a {
    margin: 0;
}

.homepage .filters {
    display: flex;
    justify-content: space-between;
}

.filters > form {
    width: 500px;
}

.filters > div {
    width: calc(100% - 500px);
    display: flex;
    justify-content: flex-end;
    transform: translateY(6px);
}


.title {
    margin-right: 50px;
}
.searchBar {
    margin-top: 25px;
    margin-right: 10px;
    float: left;
    width: 500px;
}

.cartButton, .registerButton, .loginButton{
    max-height: 40px;
    margin: 25px 10px 10px 10px;
}

.cart-table {
    width: 900px;
    margin: auto;
    padding-top: 24px;
    padding-bottom: 32px;
}

.cart-table img {
    width: 50px;
}

.productGrid {
    margin: auto;
}

.productCard {
    margin: 20px;
    max-width: 230px;
    max-height: 400px;
    overflow-y: auto;
}

.productImage {
    margin: auto;
    max-width: 150px;
    max-height: 150px;
}

.Register input{
    align-content: left;
    margin: 10px;
}

.Login input{
    align-content: left;
    margin: 10px;
}

.title {
    float: left;
    margin-left: 200px;
    font-size: 50px;
    font-family: 'Oswald', sans-serif;
    color: black;
}

.filter {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    margin: 1rem;
}

.filter div {
    flex: 1;
}

.card-image-details {
    margin: auto;
    width: 50%;
}

.productdetails {
    margin-top: 32px;
    margin-left: 150px;
    margin-right: 100px;
    padding-bottom: 64px;
}

.carousel {
    display: inline-block;
    max-width: 500px;
}
